.check{
    position: relative;
    top: 88px;
}

.select{
width:20%;

}

.go2139093995 * {
    background: rgb(245 ,242 ,242);
}

.go2642161244 {
    height: 28px;
}
.dropdown-content{
    text-align: center;


}
/* .go3425554998{

} */